Central_Climatica_MQTT - GIT
[{"id":"b9c22f5d.ac86a","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"75fdabf5.4ab814","type":"inject","z":"b9c22f5d.ac86a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":20,"wires":[["426220ec.efd92"]]},{"id":"426220ec.efd92","type":"http request","z":"b9c22f5d.ac86a","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?id=3448439&units=metric&appid=c7b032f21b9d3f78e940461c4c6aad67","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":100,"wires":[["d2a2276.5e3b3d8"]]},{"id":"d2a2276.5e3b3d8","type":"json","z":"b9c22f5d.ac86a","name":"","property":"payload","action":"","pretty":false,"x":730,"y":140,"wires":[["74539410.66665c","329d2df3.d45ad2","938bf49e.503148","7168a5a1.8af01c"]]},{"id":"be3e81e3.2f0b3","type":"debug","z":"b9c22f5d.ac86a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":80,"wires":[]},{"id":"74539410.66665c","type":"change","z":"b9c22f5d.ac86a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":160,"wires":[["be3e81e3.2f0b3","9ef378e5.944328"]]},{"id":"329d2df3.d45ad2","type":"change","z":"b9c22f5d.ac86a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":220,"wires":[["24f95d3b.30d112"]]},{"id":"938bf49e.503148","type":"function","z":"b9c22f5d.ac86a","name":"","func":"msg.payload = Math.round(msg.payload.main.temp)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":280,"wires":[["fef335df.afd998"]]},{"id":"7168a5a1.8af01c","type":"function","z":"b9c22f5d.ac86a","name":"compilado","func":"msg.payload = Math.round(msg.payload.main.humidity)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":340,"wires":[["f6ecc45d.009a38"]]},{"id":"d3d03e53.e32c8","type":"mqtt in","z":"b9c22f5d.ac86a","name":"","topic":"temperatura","qos":"1","datatype":"auto","broker":"ea4fcd03.209de","x":850,"y":400,"wires":[["da1afac9.c9d278"]]},{"id":"bf910b36.5a2308","type":"mqtt in","z":"b9c22f5d.ac86a","name":"","topic":"umidade","qos":"1","datatype":"auto","broker":"ea4fcd03.209de","x":860,"y":480,"wires":[["f6bc9cbe.78d06"]]},{"id":"24f95d3b.30d112","type":"ui_gauge","z":"b9c22f5d.ac86a","name":"","group":"3aac39c9.f0e696","order":1,"width":0,"height":0,"gtype":"gage","title":"Minima","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#2d70eb","#3958c6","#131eb9"],"seg1":"","seg2":"","x":1160,"y":220,"wires":[]},{"id":"da1afac9.c9d278","type":"ui_gauge","z":"b9c22f5d.ac86a","name":"","group":"9a008948.4ed3b8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#42c431","#267e1b","#156010"],"seg1":"","seg2":"","x":1110,"y":400,"wires":[]},{"id":"f6bc9cbe.78d06","type":"ui_gauge","z":"b9c22f5d.ac86a","name":"","group":"9a008948.4ed3b8","order":1,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"%","format":"{{value}}","min":"40","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":480,"wires":[]},{"id":"fef335df.afd998","type":"ui_gauge","z":"b9c22f5d.ac86a","name":"Temperatura","group":"db7ae112.a77f9","order":1,"width":0,"height":0,"gtype":"compass","title":"Temperatura","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":280,"wires":[]},{"id":"9ef378e5.944328","type":"ui_gauge","z":"b9c22f5d.ac86a","name":"Maxima","group":"3aac39c9.f0e696","order":2,"width":0,"height":0,"gtype":"gage","title":"Maxima","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#d33912","#dd6a13","#b42704"],"seg1":"","seg2":"","x":1180,"y":160,"wires":[]},{"id":"f6ecc45d.009a38","type":"ui_gauge","z":"b9c22f5d.ac86a","name":"","group":"db7ae112.a77f9","order":2,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"%","format":"{{value}}","min":"40","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1120,"y":340,"wires":[]},{"id":"ea4fcd03.209de","type":"mqtt-broker","name":"rpi","broker":"YOUR BROKER HERE","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3aac39c9.f0e696","type":"ui_group","name":"Previsão","tab":"f61ad2bd.e7b4d","order":2,"disp":true,"width":"6","collapse":false},{"id":"9a008948.4ed3b8","type":"ui_group","name":"Medida MQTT","tab":"f61ad2bd.e7b4d","order":3,"disp":true,"width":"6","collapse":false},{"id":"db7ae112.a77f9","type":"ui_group","name":"Indicadores","tab":"f61ad2bd.e7b4d","order":1,"disp":true,"width":"6","collapse":false},{"id":"f61ad2bd.e7b4d","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]